<header>
  <img
    src="assets/foto_portfolio.jpg"
    alt="Matheus Silva - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Matheus Silva</h1>
</header>

<aside>
  <div class="container">
    <p>Javascript and Typescript Developer | Angular 2+ | NodeJs | NestJs</p>
    <p>Leiria, Portugal</p>
    <p>
      Working as software developer since 2019 and using Javascript to create
      solutions.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/cv_portfolio.pdf"
            target="_blank"
            class="btn btn-primary"
            >Download CV</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/matheussilva-/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato de WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Matheus,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Send me a message using WhatsApp:</strong>
            <p>WhatsApp: (33) 98412-9759</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato de e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:mathsant_99@hotmail.com" target="_blank">
            <strong>Send me a email:</strong>
            <p>mathsant_99&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
