.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 1s;
  cursor: pointer;

  &.btn-primary,
  &.btn-secondary {
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
  }

  &.btn-primary {
    color: var(--white);
    background: var(--primary);

    &:hover {
      background: var(--primary-001);
      color: var(--white);
    }
  }

  &.btn-secondary {
    color: var(--white);
    background: var(--primary);

    &:hover {
      background: var(--primary-001);
      color: var(--white);
    }
  }
}
