:root {
  --primary: #3c2a4d;
  --primary-001: #503a65;
  --primary-002: #574f7d;

  --secondary: #95adbe;
  --secondary-010: #e0f0ea;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --grey: #9b9ba0;
}
